/* ./src/index.css */
@import '~antd/dist/antd.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    *,
    *::before,
    *::after {
        @apply m-0 p-0 box-border;
    }

    html {
        /* calculate for 1 rem = 10px */
        font-size: 62.5%;
    }

    /* font extend */
    @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=block');

    .flex--row {
        @apply flex flex-row justify-around items-center capitalize text-base;
    }

    /* table thead tr th:first-child {
        width: 20%;
    }*/

    .flex--row li a, .hrefStyle {
        @apply py-3 px-5 rounded-xl text-black text-lg text-3xl;
        background-color: lavender;
    }

    .flex--row li a:hover, .hrefStyle:hover {
        @apply text-white;
        background: cornflowerblue;
    }

    /* box plot center */
    td svg {
        margin: auto;
    }

    .wrapper-content {
        @apply p-20;
        @apply min-h-screen;
        @apply bg-gray-200;
        @apply flex flex-row justify-center flex-wrap items-center content-center;
    }

    .centering-element {
        @apply rounded-2xl drop-shadow p-12 min-h-full bg-white min-w-3/4 w-full;
    }
    .icon-header {
        @apply inline-block text-2xl fill-current text-green-500;
    }

    .select-box {
        border: 1px solid;
        border-radius: 1.5rem;
        outline: none;
        padding: 0.25rem 1rem;
    }

    .js-plotly-plot .plotly .modebar {
        /* top: 0;
        left: 0;
        */
        right: 10% !important;
        width: 12% !important;
        /* position: absolute; */
    }
    .js-plotly-plot.plotly:hover#modebar-5d8bd7.modebar-group {
        background: #b5b6b733;
    }
}
